<div class="athlete_wrapper col-md-4">
  <div class="athlete">
    <div class='athlete-upvote'>
      <div class='athlete-count'><%= athlete.rank %></div>
    </div>
    <div class='athlete-body'>
      <h3><%= athlete.last_name %> <%= athlete.first_name %></h3>
      <p><%= athlete.cathe %> </p>
    </div>
    <ul class="list-inline athlete-controls hidden-sm hidden-xs">
      <p><%= athlete.distance %></p>
    </ul>
  </div>
</div>
